<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">


<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Custom fonts for this template-->

    <link th:href="@{/demo.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>
<body>
<div  layout:fragment="content">

        <div class="text-center m-2">
<!--            <a class="h3" th:href="@{/view/addStudent}">Create new student</a>-->
        </div>
        <table >
            <thead class="table-dark">
            <th>STT</th>
            <th>IDPARENT</th>
            <th>NAME</th>
            <th>NOTES</th>
            <th>ICON</th>
            <th>CREATED_DATE</th>
            <th>UPDATED_DATE</th>
            <th>CREATED_BY</th>
            <th>UPDATED_BY</th>
            <th>ISACTIVE</th>
            <th>Action</th>

            </thead>
            <tbody>
            <tr th:each="category: ${categories} ">
                <td th:text="${category.id}"></td>
                <td th:text="${category.idparent}"></td>
                <td th:text="${category.name}"></td>
                <td th:text="${category.notes}"></td>
                <td th:text="${category.icon}"></td>
                <td th:text="${#temporals.format(category.createdDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(category.updatedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${category.createdBy}"></td>
                <td th:text="${category.updatedBy}"></td>
                <td th:text="${category.isactive}"></td>
            </tr>
            </tbody>
        </table>


</div>
</body>
</html>