<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">


<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Custom fonts for this template-->

    <link th:href="@{/demo.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type = "text/javascript">
        // console.log(11111111111)
        // $(document).ready(function () {
        //     $('#two:first').addClass("d-none");
        //     $('#two').click(function (){
        //         $('#one').addClass("d-none");
        //         $('#two:first').removeClass("d-none");
        //     });
        // });
    </script>

</head>
<body>
<div  layout:fragment="content">
    <div id="one">
        <div class="text-center m-2">
<!--            <a class="h3" th:href="@{/view/addStudent}">Create new student</a>-->
        </div>
        <table >
            <thead class="table-dark">
            <th>Id Order</th>
            <th>Order date</th>
            <th>Total Money</th>
            <th>Name Reciver</th>
            <th>Phone</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr th:each="order: ${orders} ">
                <td th:text="${order.idorders}"></td>
                <td th:text="${order.ordersDate}"></td>
                <td th:text="${order.totalMoney}"></td>
                <td th:text="${order.nameReciver}"></td>
                <td th:text="${order.phone}"></td>
                <td th:switch="${order.isactive}">
                    <span th:case="'1'">Đang chờ thanh toán</span>
                    <span th:case="*">Thanh toán thành công</span>
                </td>
                <td>
                    <a th:href="@{'/order/detail_order/'+${order.id}}">Chi tiết đơn hàng</a>
                    <p th:switch="${order.isactive}">
                        <span th:case="'1'"> <a th:href="@{'/order/xacNhanThanhtoan/'+${order.id}}">Xác Nhận Thanh Toán</a></span>
                        <span th:case="*">Thanh Toán Thành Công</span>
                    </p>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>